<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>CVS Info</title>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" 
    integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
</head>
<body>
    <h1 style="text-align: center;">All CVs</h1>
    <div class="row" style="margin-left: 0px;">
        <table class="table table-sm">
            <thead>
                    <% Object.keys(persons[0]).map(key=>{ %>
                        <th scope="col" class="th-word"><%= key %></th>
                   <% }) %>
                   <th>actions</th>
            </thead>
            <tbody>
                    <% persons.reverse().forEach(d=> { %>
                        <tr>
                                <% Object.values(d).map(d=>{%> 
                                    <td><%= Array.isArray(d) ? d.join(", ") : d %></td>
                                <% }) %>
                                <td><button class="btn btn-danger btn-delete" id = "<%= d.id %>">Delete</button></td>
                            </tr>
                     <% }) %>
            </tbody>
        </table>
    </div>
<script type="module" src="js/main.js"></script>
</body>
</html>